.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.282);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-card {
  background-color: antiquewhite;
  width: 50rem;
  max-width: 95%;
  height: 10rem;
  /* transform: translateY(-75px); */
  position: fixed;
}
.modal-header {
  background-color: aqua;
  border-radius: 12px 12px 0 0;
  width: 100.1%;
  transform: translateX(-0.8px);
  padding: 10px 0;
}
.modal-message {
  padding: 30px;
}
